<div class="col-xs-12">
    <a class="btn btn-default" data-bind="click:goBack">Back</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item active">
        <span class="titleStyle">Star Agents</span>
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-user userIcon available" aria-hidden="true"></span>
        <div class="ratingContainer">
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
        </div>
        <div class="detailsStyle">
            <span class="nameStyle">John Rambo</span><br />
            <span class="rateStyle">Success rate - 78%</span>
        </div>
        <div class="africasvg"></div><div class="africa"><span>South Africa</span></div>
        <div class="flag-of-greece"></div><div class="greece"><span>Greece</span></div>
        <div class="demographicContainer">
            <span class="demographicText">Specialize: Family packages, Students, Young couples</span>
        </div>
        <button type="button" class="btn btn-primary messageButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary connectButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </button>
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-user userIcon available" aria-hidden="true"></span>
        <div class="ratingContainer">
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
        </div>
        <div class="detailsStyle">
            <span class="nameStyle">Shane Warne</span><br />
            <span class="rateStyle">Success rate - 75%</span>
        </div>
        <div class="africasvg"></div><div class="africa"><span>South Africa</span></div>
        <div class="flag-of-the-peoples-republic-of-china"></div><div class="china"><span>China</span></div>
        <div class="demographicContainer">
            <span class="demographicText">Specialize: Family packages, Students, Young couples</span>
        </div>
        <button type="button" class="btn btn-primary messageButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary connectButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </button>
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-user userIcon available" aria-hidden="true"></span>
        <div class="ratingContainer">
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
        </div>
        <div class="detailsStyle">
            <span class="nameStyle">Jo Hockie</span><br />
            <span class="rateStyle">Success rate - 74%</span>
        </div>
        <div class="africasvg"></div><div class="africa"><span>South Africa</span></div>
        <div class="flag-of-greece"></div><div class="greece"><span>Greece</span></div>
        <div class="demographicContainer">
            <span class="demographicText">Specialize: Family packages, Students, Young couples</span>
        </div>
        <button type="button" class="btn btn-primary messageButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary connectButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </button>
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-user userIcon available" aria-hidden="true"></span>
        <div class="ratingContainer">
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
        </div>
        <div class="detailsStyle">
            <span class="nameStyle">Jack Jackeroo</span><br />
            <span class="rateStyle">Success rate - 70%</span>
        </div>
        <div class="africasvg"></div><div class="africa"><span>South Africa</span></div>
        <div class="flag-of-greece"></div><div class="greece"><span>Greece</span></div>
        <div class="demographicContainer">
            <span class="demographicText">Specialize: Family packages, Students, Young couples</span>
        </div>
        <button type="button" class="btn btn-primary messageButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary connectButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </button>
    </a>
    <div href="#" class="list-group-item">
        <span class="glyphicon glyphicon-user userIcon available" aria-hidden="true"></span>
        <div class="ratingContainer">
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
            <span class="glyphicon glyphicon-star-empty ratingStyle"></span>
        </div>
        <div class="detailsStyle">
            <span class="nameStyle">Naomi Watts</span><br />
            <span class="rateStyle">Success rate - 68%</span>
        </div>
        <div class="africasvg"></div><div class="africa"><span>South Africa</span></div>
        <div class="flag-of-the-peoples-republic-of-china"></div><div class="china"><span>China</span></div>
        <div class="demographicContainer">
            <span class="demographicText">Specialize: Family packages, Students, Young couples</span>
        </div>
        <button type="button" class="btn btn-primary messageButton" aria-label="Left Align">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
        <a href="callto://marknluo"><span>
            <button type="button" class="btn btn-primary connectButton" aria-label="Left Align">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            </button>
            </span>
        </a>
    </div>
</div>
